@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
:root {
 --code-color: darkred;
 --code-bg-color: #aaaaaa;
 --code-font-size: 14px;
 --code-line-height: 1.4;
 --scroll-bar-color: #c5c5c5;
 --scroll-bar-bg-color: #f6f6f6;
}
 
pre {
 color: var(--code-color);
 font-size: var(--code-font-size);
 line-height: var(--code-line-height);
 background-color: var(--code-bg-color);
}
 
.code-block {
 max-height: 100px;
 overflow: auto;
 padding: 8px 7px 5px 15px;
 margin: 0px 0px 0px 0px;
 border-radius: 7px;
}
 
::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }
 
* {
 scrollbar-width: thin;
 scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}
 
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
 width: 2px;
 height: 12px;
}
 
*::-webkit-scrollbar-track {
 background: var(--scroll-bar-bg-color);
}
 
*::-webkit-scrollbar-thumb {
 background-color: var(--scroll-bar-color);
 border-radius: 20px;
 border: 3px solid var(--scroll-bar-bg-color);
}
body{
 background-color:#e1f7fd;
 margin:0px;
 font-family: "AvenirPrimaryHMH-Bold";
 
}
 
html{
  padding:0px;
  font-size: 16px;
}
@font-face{
  font-family:"AvenirPrimaryHMH-Bold";
  src:url("./fonts/319f0639-536b-440c-8ca3-df56e4f19ea4.woff2") format("woff2"),url("./fonts/f7be8f07-e06b-41a6-94e9-4b328041df1d.woff") format("woff");
}

